<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="oliv.exo.rental.ui.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            apply="always"
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="com.opcoach.e4.preferences.e4PreferencePages">
      <page
            class="oliv.exo.rental.ui.FieldEditorPreferencePageCouleur"
            id="oliv.exo.rental.ui.page1"
            name="Rental Couleur">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="oliv.exo.rental.ui.AbstractPreferenceInitializ">
      </initializer>
   </extension>

</plugin>
