Tree {
  /* actual values */
  background-color: #ffffff #0000ff 100%;
  background-image: none;
  color: #005500;
  font-family: "Segoe UI";
  font-size: 15;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  visibility: visible;
}